@import "fonts";
@import "null";

.loсk {
  overflow: hidden;
}
.container {
  max-width: 2004px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn {
  padding: 18px 24px;
  border-radius: 5px;
  background: #c5ddf9;
  box-shadow: 4px 4px 4px 0px rgba(3, 57, 108, 0.31);
  font-size: 24px;
  color: #373737;
  line-height: 91%;
  transition: 0.3s;
  &:hover {
    color: white;
    background: #406da2;
  }
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  @media (max-width: 1536px) {
    font-size: 28px;
  }
  @media (max-width: 1280px) {
    font-size: 26px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

@import "./sections/header";
@import "./sections/footer";
@import "./sections/about-us";
@import "./sections/advantages";
@import "./sections/numbers";
@import "./sections/order";
@import "./sections/steps-order";
@import "./sections/callback";
@import "./sections/audit";
@import "./sections/escort";
@import "./sections/expertise";
@import "./sections/education";
@import "./sections/cooperation";
@import "./sections/intro";
