.education {
  &-block-1 {
    background-color: #c5ddf9;
    padding: 50px 0 50px 0;
    @media (max-width: 480px) {
      padding: 30px 0 30px 0;
    }
    h2 {
      color: #406da2;
      text-transform: uppercase;
    }
  }
  &-block-2 {
    padding: 48px 0 0 0;
    background-image: url("../img/bg-7.jpg");
    background-size: cover;
    background-position: center;
    @media (max-width: 480px) {
      padding: 20px 0 0 0;
      background-image: url("../img/bg-8.jpg");
    }
    & > div:last-child {
      height: 20px;
      background-color: #406da2;
      margin-top: 120px;
      @media (max-width: 480px) {
        margin-top: 70px;
      }
    }
    ul {
      color: #373737;
      display: flex;
      flex-direction: column;
      max-width: 1086px;
      gap: 30px;
      @media (max-width: 480px) {
        gap: 10px;
      }
      li {
        font-size: 24px;
        line-height: 125%;
        display: flex;
        gap: 17px;
        &:before {
          content: url("../img/icon-16.svg");
        }
        @media (max-width: 480px) {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}
