.header {
  background-color: #9eabbb;
  padding: 3px 0;
  @media (max-width: 480px) {
    padding: 30px 0 20px 0;
  }
  &__logo {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: 480px) {
      gap: 15px;
    }
    p {
      font-size: 18px;
      line-height: 122%;
      color: #373737;
      max-width: 271px;
      @media (max-width: 480px) {
        font-size: 10px;
        max-width: 150px;
      }
    }
    img {
      @media (max-width: 480px) {
        width: 100px;
      }
    }
  }
  &__mobile-menu {
    display: none;
    position: relative;
    button {
      background: transparent;
    }
    &:hover {
      .header__mobile-nav {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (max-width: 1024px) {
      display: block;
    }
  }
  &__desktop-nav {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__mobile-nav {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      position: absolute;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 480px) {
      align-items: flex-start;
    }
  }
  &__block {
    display: flex;
    gap: 100px;
    @media (max-width: 1280px) {
      gap: 50px;
    }
    @media (max-width: 1024px) {
      display: none;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 16px;
      a {
        color: #373737;
        font-size: 24px;
        line-height: 100%;
        transition: 0.3s;
        &:hover {
          color: #406da2;
        }
      }
    }
  }
  &__wrapper {
    nav {
      padding: 19px 0;
      background: #c5ddf9;
      @media (max-width: 1024px) {
        background-color: #9eabbb;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
        padding: 10px;
      }
      & > ul {
        display: flex;
        justify-content: center;
        @media (max-width: 1024px) {
          flex-direction: column;
          gap: 8px;
        }
        & > li {
          position: relative;
          &:hover {
            & > ul {
              opacity: 100;
              visibility: visible;
            }
          }
          ul {
            transition: 0.3s;
            position: absolute;
            width: 330px;
            border-radius: 5px;
            background: #c5ddf9;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
            padding: 7px 5px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            transform: translateY(12px);
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            @media (max-width: 1024px) {
              right: 150px;
              top: 0;
              background-color: #9eabbb;
            }
            @media (max-width: 640px) {
              right: 0;
              top: 20px;
            }
            li {
              a {
                color: #373737;
                font-size: 18px;
                line-height: 122%;
              }
            }
          }
          &:not(:last-child) {
            &:after {
              content: "";
              display: inline-block;
              width: 1px;
              height: 19px;
              background-color: #373737;
              margin: 0 10px;
              @media (max-width: 1024px) {
                display: none;
              }
            }
          }
          & > a {
            color: #373737;
            line-height: normal;
            text-transform: uppercase;
            font-size: 24px;
            @media (max-width: 1024px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
